@charset "UTF-8";
/* 게시판 공통영역 bbs(bulletin board system) */
.bbsListTbl a:hover, .pagination a:hover, .bbs_title a:hover, .tit_lbl a:hover {
    color: #000 !important;
}
/* //게시판 공통영역 */
/* 메인상단위치표시영역 */
.location_area {
    height: 260px;
    background: rgb(212, 144, 41);
}
.tit_page {
    padding: 140px 0px 0px 0px;
    margin: 0px 45px;
    border-bottom: 1px solid #ccc;
    font: 30px 'Arial Narrow';
    color: #fff;
    letter-spacing: 3px;
    text-align: left;
}
.location { display: none; }
ul.page_menu {
    display: block;
    padding: 10px 0px 0px 45px;
}
ul.page_menu li {
    float: left; /* 리스트태그의 세로배치를 가로배치로 바꾸는 명령 */
    padding-bottom: 10px;
}
ul.page_menu li a.on {
    border-bottom: 1px solid #fff;
    color: #fff;
    background: none;
}
ul.page_menu li a {
    display: block;
    margin-right: 20px;
    font-size: 15px;
    color: #ddd;
}
.tit_page .in {
    font-variant: small-caps;/* 영문의 대문자의 크기 지정 */
}
/* //메인상단위치표시영역 */

/* 게시판리스트 영역 */
.bodytext_area {
    box-sizing: border-box;
    padding: 0px;
}
.minisrch_form {
    width: 100%;
    text-align: right;
    margin-bottom: 20px;
}
.minisrch_form .tbox {
    padding: 0px 5px 0px 30px;
    width: 200px;
    height: 35px;
    line-height: 35px;
    border: none;
    border-bottom: 1px solid #ccc;
    background: url(../home/img/ico_search.png) no-repeat 10px 50%;
    background-size: 15px;
}
.btn_srch {
    display: inline-block;/* 줄바꿈없이 자리차지하기 */
    width: 70px;
    text-align: center;/* left center right */
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    vertical-align: middle;/* top middle bottom */
    background: #384d75;
    color: #fff !important;
    border: none;
}
.minisrch_form legend {
    text-indent: -9999px; /* 시각장애인용 처리=웹접근성처리 */
    font-size: 0px;
}
input::placeholder { color: #999; } /* IE(Internet Explore)브라우저용 스타일=크로스브라우징 처리 */
.bbsListTbl {
    width: 100%;
    border-top: 2px solid #384d75;
}
.bbsListTbl th:nth-child(1) { display: none; } /* 모바일에서는 가로를 단순하게 처리하는 용도 */
.bbsListTbl th:nth-child(2) { width: 70%; } /* 모바일전용 */
.bbsListTbl th:nth-child(3) { display: none; }
.bbsListTbl th:nth-child(4) { width: 30%; }
.bbsListTbl th {
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    padding: 0px;
    box-sizing: border-box;
    height: 45px;
    background: #fef3fa;
}
.bbsListTbl td:nth-child(1) { display: none; }
.bbsListTbl td:nth-child(3) { display: none; }
.bbsListTbl td {
    text-align: center;
    line-height: 1.3;
    border-bottom: 1px solid #ccc;
}
.bbsListTbl td:nth-child(2) { text-align: left; }
.bbsListTbl th, .bbsListTbl td {
    padding: 10px;
    box-sizing: border-box;
    height: 45px;
}
.bbsListTbl td a { /* 모바일전용 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 320px;
}
.pagination {
    padding: 40px 0px 0px;
}
.pagination a.pbtn {
    display: inline-block;
    padding: 7px;
    text-align: center;
    vertical-align: middle;
    font-size: 0px;
}
.pagination a {
    display: inline-block;
}
.pagination a .currentpage {
    border-radius: 3px;
    background: #384d75;
    color: #fff;
}
.pagination a .pagenum {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
}
.btn_line {
    padding: 20px 0px;
}
.btn_line a:first-child { /* 버튼이 여러개 있을때 적용 */
    margin-left: 0px;
}
.btn_baseColor {
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #384d75;
    font-size: 20px;
    font-weight: bold;
    color: #fff !important;
    text-align: center;
    vertical-align: bottom;
    border: none;
}
/* //게시판리스트 영역 */
/* 여기까지가 모바일용 이후 태블릿용 스타일지정 시작 */
/* 테블릿용 메인페이지 스타일 지정(아래) 801px~무한대까지 재정의 */
@media all and (min-width:801px) {
	/* 테블릿+PC용 스타일 */
    .bbsListTbl th:nth-child(1) {
        display: table-cell;
        width: 6%;
        margin-top: 7px; /* IE브라우저 호환성=크로싱브라우징 처리 */
    }
    .bbsListTbl th:nth-child(2) {
        width: 65%;
    }
    .bbsListTbl th:nth-child(3) {
        display: table-cell;
        margin-top: 7px;
    }
    .bbsListTbl th:nth-child(4) {
        width: 20%;
    }
    .bbsListTbl td:nth-child(1) {
        display: table-cell;
    }
    .bbsListTbl td:nth-child(3) {
        display: table-cell;
    }
    .btn_baseColor {
        width: 125px;
        font-weight: normal;
    }
    .bbsListTbl td a { /* 태블릿+PC용 */
    overflow: inherit; /* 초기화 */
    text-overflow: inherit;
    white-space: inherit;
    display: inherit;
    width: inherit;
    }
}

/* 게시판 글보기 영역 */
.bbsview_list {
    padding-bottom: 30px;
    border-top: 2px solid #384d75;
    text-align: left;
}
.bbsview_list li {
    box-sizing: border-box;
    padding: 0px 15px;
    border-bottom: 1px solid #ccc;
    color: #666;
    font-size: 14px;
    line-height: 20px;
}
.bbsview_list .bbs_title {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    font-size: 16px;
}
.bbsview_list .bbs_hit {
    overflow: hidden;
    height: 40px;
    line-height: 40px;
    float: left;
    width: 50%;
}
.bbsview_list .bbs_date {
    float: left;
    height: 40px;
    line-height: 40px;
    width: 50%;
}
.bbsview_list .bbs_content {
    clear: both; /* float:left,right 기능을 해제합니다. */
    min-height: 200px;/* 내용이 비었더라도 최소 높이 200px 자리를 차지합니다. 단, 내용이 많으면 200이상으로 자리를 차지합니다. */
    padding: 20px 15px !important;
}
.btn_bbs { /* 모바일 전용 */
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    background: #384d75;
    color: #fff !important;
    text-align: center;
}
/* //게시판 글보기 영역 */
/* 테블릿용 메인페이지 스타일 지정(아래) 801px~무한대까지 재정의 */
@media all and (min-width:801px) {
    /* 뷰페이지 버튼 스타일 */
	.btn_bbs {
        width: 70px;
        float: none;
        text-align: center;
    }
}