@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
/* 모바일용 메인페이지 스타일 지정(아래) */
/* 공통영역 */
body { /* body a 태그엔 적용이 않됩니다. */
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px !important;/* important 중요함, body 폰트크기는 무조건 고정 */
    letter-spacing: -1px !important;
    color: #444 !important;
    word-wrap: break-word !important;/* 워드랩,줄바꿈할때 책
	가방(X) 단어가 분리가 않되면서(단어단위로) 줄바꿈이 됩니다. */
	line-height: 1 !important;/* 단위 1이면 16px 입니다. */
}
dl, ol, ul {margin-bottom: 0 !important;}
#container a:hover {color:#000 !important;}/* : 가상선택자, :: 가상요소 */
a:link {color: #444;}
a:hover {color: #fff !important;}
a:visited {color: #444;}
a {text-decoration: none;}/* 링크의 밑줄이 사라짐. */
.clear::after {
	content: '';
	clear: both;/* 태그의 위치를 지정하는 float:left|right 속성을 초기화 시킴 */
	display: block;/* float는 블럭 속성이 없어진것을 clear시키면, 다시 block속성 부여 */
}
/* //공통영역 */

/* 부트스트랩 CSS 수정 */
.txt_right {
	text-align: right !important;
}
.mt20 { /* mt 네이밍은 부트스트랩과 동일 */
	margin-top: 20px !important;
}
.w100p { /* 너비크기 100% percent  */
	width: 100% !important;
}
/* //부트스트랩 CSS 수정 */

/* 헤더영역 */
.on { /* .클래스선택자 */
	background: #32353d;
}
header { /* 태그선택자 */
	height: 90px;
	text-align: center;
	z-index: 200;/* z-index z순서: x(가로축),y(세로축),z(위쪽공간) */
	/* 빨간색 z-index:0 은 제일 아래, 녹색 z-index:1, 값을 높을수로 위쪽에 배치 */
	/* z-index를 200으로 주는 이유는 슬라이드 이미지 겹칠때 메뉴가 다른 태그에 가려지는 것을 방지 */
	background: rgba(0,0,0,0.5);/* alpha 약자: 투명도 크기 1:100%, 0.5:50% */
	position: absolute;/* relative 다른태그와 관계(기본값), 위치에서 다른태그에 영향을 받지않음 */
	left: 0; top:0;
	width: 100%;
}
.box_inner {
	width: 100%; margin: 0 auto;
}
/* //헤더영역 */
/* 로고영역 */
.header_area h1 {
	float: none;
	width: 100%;
	height: 50px;
	text-align: center;
	padding: 3px 0px 0px;/* 3px(상하) 0px(좌) 0px(우) */
}
.header_area h1 a {
	/* 로고는 이미지인데 글을 더한 이유는 웹접근성 때문에 추가(스크린리더:시각장애인용유틸리티)  */
	display: inline-block;
	width: 150px;
	height: 80px;
	background: url(../img/logo.png) no-repeat;/* css3는 함수를 지원합니다. */
	background-size: 50px 60px !important;/* 백그라운드 이미지 사이즈 가로50px, 세로60px */
	background-position: center center !important;/* 이미지위치가 가로 가운데, 세로 가운데정렬 */
	text-indent: -9999px;/* 들여쓰기 이미지만 보이고, 글자는 숨기기 위치 */
	overflow: hidden;
}
/* //로고영역 */

/* 상단메뉴영역 */
.openMOgnb {
	/* gnb: global navigation bar 약자 메뉴명칭으로 사용 */
	display: block;
	position: absolute;
	left:15px;
	top:35px;
	width: 25px;
	height: 16px;
}
.hdd {
	text-indent: -9999px;
	position: absolute;
}
.openMOgnb span {
	box-sizing: border-box;/* 박스크기를 테두리까지 크기로 고정 */
	display: block;
	width: 25px; height: 3px;
	margin-bottom: 4px;
	border-radius: 10px;/* 테두리 라운드 처리 */
	background: #fff;
}
.openMOgnb span:first-of-type + span {width: 17px;} /* + 형제 인접연자 */
.openMOgnb span:last-child {
	/* width: 25px; */
	margin-bottom: 0px;
}
.header_cont {
	float: none;
	width: 100%;
	background: #31343d;
	margin-top: 36px;
	display: none;
}
.closePop {
	display: block;
	position: absolute;
	right: 0px;
	top: 15px;
}
.closePop a {
	display: block;
	width: 60px; height: 60px;
	text-indent: -9999px;
	overflow: hidden;
	background: url(../img/btn_closeMenu.png) no-repeat;
	background-size: 60px;
}
.util {padding: 20px;}
.header_cont a {
	color: #fff; font-size: 16px;
}
.util li {float: left;}
.util li::after {
	/* ::가상요소를 추가 */
	content: '|';
	display: inline-block;
	padding: 0 10px;
	color: #a2a2a3;
	font-size: 10px;
	position: relative;
	top:-2px;
}
.util li:last-child::after {
	/* 가상선택자 마지막 li태그에서 가성요소 추가 */
	content: '';
	display: none;
}
.gnb {
	float: none;
	box-sizing: border-box;
	padding-top: 0px;
	height: auto;
	border-top:1px solid #83868b;
}
.gnb li {
	float: left;
	width: 50%;
	text-align: left;
	box-sizing: border-box;/* width 50%안쪽에 테두리 까지 포함 */
	border-bottom: 1px solid #83868b;
}
.gnb li a {
	display: block;
	padding: 0px 0px 0px 65px;
	height: 60px;
	line-height: 60px;
	background: url(../img/ico_gnb01.png) no-repeat 10px center;/* 10px 가로위치, center 세로가운데정렬 */
	background-size: 49px 56px;
}
.gnb_depth {
	/* 2차(서브)메뉴 */
	display: none;
}
.gnb li + li a { /* 1차(대메뉴) li 태그중 2번째영역 */
	background-image: url(../img/ico_gnb02.png);	
}
.gnb li + li + li a { /* 1차(대메뉴) li 태그중 3번째영역 */
	background-image: url(../img/ico_gnb02.png);	
}
.gnb li + li + li + li a { /* 1차(대메뉴) li 태그중 4번째영역 */
	background-image: url(../img/ico_gnb02.png);	
}
.gnb li:nth-child(2n+1) {
	/* 2n+1 홀수번째의 li태그를 말함 */
	border-right: 1px solid #83868b;
}
/* //상단메뉴영역 */