@charset "UTF-8";
/* PC용 메인페이지 스타일 지정 1066px~무한대까지 재정의 */
@media all and (min-width:1066px) {
	/* 상단로고, 메뉴영역 */
	.header_area h1 {
		padding-left: 0px;
	}
	.header_cont {
		width: 769px;
		padding-right: 10px;
	}
	.gnb li a {
		padding: 26px 40px;
	}
	.gnb_depth { /* 2차메뉴 내용 */
		position: absolute;/* 부모태그를 기준으로 절대위치 */
		left: 0px;
		top: 113px;
		width: 100%;
		background: rgba(250,100,0,0.85);
		z-index: 100;
	}
	.gnb_depth2_1 .submenu_list {
		padding-left: 750px;
	}
	.gnb_depth2_2 .submenu_list {
		padding-left: 800px;
		/* display: none; */
	}
	.submenu_list {
		box-sizing: border-box;
		width: 1050px;/* 원래는 1065px정상인데 혹시 레이아웃 깨질까봐 1050px로 고정 */
		margin:0 auto;
		text-align: left;
	}
	/* //상단로고, 메뉴영역 */

    /* 겔러리,공지사항 최근게시물영역 */
	.place_list {
		padding: 0px;
	}
	.appbbs_box {
		padding: 0px;
	}
	.app_line a, .app_line a + a {
		text-align: center;
		background-position: 20px 50%;/* 백그라운드 이미지위치를 가로 20px, 세로 50%로 배치 */
	}
	.app_line {
		width: 66%;
	}
	.bbs_line {
		width: 32%;
	}
	/* //겔러리,공지사항 최근게시물영역 */
	/* 푸터영역 */
	.foot_area {
		padding-left: 0px;
		padding-right: 0px;
	}
	.foot_area .snslink {
		top: 50px;
	}
	.foot_area .snslink li {
		margin-left: 60px;
	}
	/* //푸터영역 */
}